.container {
  display: flex;
}
.cards {
  flex: 2.6 10 0;
  min-height: 100vh;
}
.favorite {
  flex: 1 1 0;
  height: fit-content;
  padding: 14px;
  background-color: #bca37f;
  border-radius: 10px;
  margin-left: 20px;
}
.favorite h4 {
  font-size: 1.2rem;
}
